.btn-success {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
  &:hover {
    background-color: transparent;
    border: 1px solid #1e7e34;
    color: #218838;
  }
}
.container {
  .row {
    margin: 120px auto;
    .form-group {
      margin: 20px 0;
    }
  }
}
.col-md-4 {
  // background: #ff9b00;
  background: #1e7e34;
  padding: 20px;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
