@import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");
@import 'src/app/components/shared/styles/utilities';

.btn-outline-danger {
  color: #ff6877;
  border-color: #ff6877;
  &:hover {
    color: #fff;
    background-color: #ff6877;
  }
  &.liked {
    background-color: #ff6877;
    color: #fff;
  }
}
