<div class="container my-5">
	<div class="row">
		<div class="col-md-4">
			<div class="contact-info text-white">
				<img src="assets/img/create-course-img.png" alt="image" class="w-100 mb-3"/>
				<h2 class="my-3">Create new course</h2>
				<h5>Your skills and experiences are unique and valuable. Easily share your knowledge, and be rewarded for it.</h5>
			</div>
		</div>
		<div class="col-md-8">
			<form [formGroup]="form" (ngSubmit)="create()"  class="contact-form">
				<div class="form-group">
				  <label class="control-label">Title:</label>
                  <input type="text" class="form-control" placeholder="Enter Course Title" formControlName="title">
                  <div
                  class="alert alert-danger"
                  *ngIf="(form.get('title').touched || form.get('title').dirty) &&
                    form.get('title').invalid"
                >
                  <div *ngIf="form.get('title').errors.required">
                    Title is required
                  </div>
                </div>
				</div>
				<div class="form-group">
				  <label class="control-label">Author:</label>
                  <input type="text" class="form-control" placeholder="Enter Course Author" formControlName="author">
                  <div
                  class="alert alert-danger"
                  *ngIf="(form.get('author').touched || form.get('author').dirty) &&
                    form.get('author').invalid"
                >
                  <div *ngIf="form.get('author').errors.required">
                    Author is required
                  </div>
                  <div *ngIf="form.get('author').errors?.pattern">
                    Author must have first and last name, both start with capital letter
                  </div>
                </div>
				</div>
				<div class="form-group">
				  <label class="control-label">Description:</label>
                  <textarea type="text" class="form-control"  placeholder="Enter Course Description" formControlName="description" rows="5"></textarea>
                  <div
                  class="alert alert-danger"
                  *ngIf="(form.get('description').touched || form.get('description').dirty) &&
                    form.get('description').invalid"
                >
                  <div *ngIf="form.get('description').errors.required">
                    Description is required
                  </div>
                </div>
				</div>
				<div class="form-group">
                  <label class="control-label">Categories (separated by comma and space):</label>
                  <input type="email" class="form-control"  placeholder="Web development, Music, Business" formControlName="categories">
                  <div
                  class="alert alert-danger"
                  *ngIf="(form.get('categories').touched || form.get('categories').dirty) &&
                    form.get('categories').invalid"
                >
                  <div *ngIf="form.get('categories').errors.required">
                    Categories are required
                  </div>
                  <div *ngIf="form.get('categories').errors?.pattern">
                    Categories must be separated by comma and space
                    

                  </div>
                </div>
				</div>
				<div class="form-group">
                  <label class="control-label">Image Url:</label>
                  <input type="email" class="form-control"  placeholder="https://example-image-url.com" formControlName="imgUrl">
                  <img class="mt-4" *ngIf="form.get('imgUrl').value != '' && form.get('imgUrl').valid" [src]="form.get('imgUrl').value" width="250" height="200">
                  <div
                  class="alert alert-danger"
                  *ngIf="(form.get('imgUrl').touched || form.get('imgUrl').dirty) &&
                    form.get('imgUrl').invalid"
                >
                  <div *ngIf="form.get('imgUrl').errors.required">
                    Image URL path is required
                  </div>
                  <div *ngIf="form.get('imgUrl').errors?.pattern">
                    You must enter a valid URL path
                  </div>
                </div>
				</div>
				<div class="form-group">        
					<button type="submit" class="btn btn-main btn-success" [disabled]="!form.valid">Create course</button>
				</div>
			</form>
		</div>
	</div>
</div>