<div class="profile d-flex" *ngIf="profile">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card">
          <img class="card-img-top" src="https://account.spinninrecords.com/uploads/profile/1073391/profile.png">
          <div class="card-body text-center">
            <img class="avatar rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQy30wzxzjGomluNvUsxG0a3cG2aSwOyLXBAYIFR9Hx3s_M1kj7&usqp=CAU" alt="Bologna">
            <h4 class="card-title">{{profile.firstName}} {{profile.lastName}} </h4>
            <h6 class="card-subtitle mb-2 text-muted"> {{profile.username}} </h6>
            <p class="card-text text-left">Robert John Downey Jr.'career has included critical and popular success in his youth, followed by a period of substance abuse and legal difficulties, and a resurgence of commercial success in middle age. </p>
            <a href="#" class="btn btn-info">Follow</a>
            <a href="#" class="btn btn-outline-info">Message</a>
          </div>
        </div>
      </div>
    </div>
  </div>
