
.avatar {
  border: 0.3rem solid rgba(#fff, 0.3);
  margin-top: -6rem;
  margin-bottom: 1rem;
  max-width: 9rem;
}

.profile{
    height: 100%;
    width: 100%;
    background: rgba($color: #fff, $alpha: 0.5);
   
}
.change-names{
  max-width: 400px !important;
  width: 100%;
  align-self: flex-start;
}