@import 'src/app/components/shared/styles/variables';



.text-input {
  margin-bottom: 1.3rem;
  width: 100%;
  border-radius: 2px;
  background: $dark-color;
  border: 1px solid #555;
  color: #ccc;
  padding: 0.5rem 1rem;
}

.btn-main {
  width: 100%;
  padding: 0.7rem 1rem;
  display: block;
  border: 0;
  border-radius: 2px;
  font-weight: 500;
  background: $secondary-color;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.btn-main:hover {
  background-color: transparent;
  border: 1px solid $white-color;
  
}

.btn-secondary-2 {
  padding: 0.7rem 1rem;

  display: block;
  color: white;
  background: none;
  border: 1px solid $white-color;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s;
}

.btn-secondary-2:hover {
  border-color: $secondary-color;
  color: $secondary-color;
}

.btn-secondary-2,
.or,
.links {
  width: 60%;
  @include breakpoint(max,width,400px){
    width: 85%;
  }
}

.links a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  margin-bottom: 0.6rem;
}

.or {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.or .bar {
  flex: auto;
  border: none;
  height: 1px;
  background: #aaa;
}

.or span {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}


