<div class="text-white d-flex flex-column justify-content-center align-items-center mb-5">
  <form class="w-100">
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input
        type="email"
        class="form-control bg-transparent border border-info text-white"
      />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        class="form-control bg-transparent border border-info text-white"
      />
    </div>
    <button class="btn-main mt-4">
      Sign In
    </button>
  </form>

  <div class="or my-3">
    <hr class="bar" />
    <span> OR </span>
    <hr class="bar" />
  </div>
  <a [routerLink]="['/register']"  class="btn-secondary-2">Create an account</a>
</div>
