@import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");
@import "src/app/components/shared/styles/utilities";
@import "src/app/components/courses/course/course.component";

.details-content {
  @include breakpoint(max, width, 992px) {
    max-width: 100% !important;
  }
  @include breakpoint(max, width, 768px) {
    max-width: 90% !important;
  }
}

.custom-range::-webkit-slider-thumb {
  background: orange !important;
}

.custom-range::-moz-range-thumb {
  background: orange !important;
}

.custom-range::-ms-thumb {
  background: orange !important;
}
