<header class="masthead">
  <div class="overlay h-100 w-100 py-5">
    <div class="row h-100 align-items-center py-5 m-0">
      <div class="col-12 text-center text-white py-5">
        <h1 class="font-weight-light">Hello</h1>
        <p class="lead my-4">Build skills with courses, certificates, and degrees online from world-class universities and companies</p>
        <button class="btn btn-success" routerLink="/courses/create">Create a new course NOW!</button>
      </div>
    </div>
  </div>
</header>