<div
  class="text-white d-flex flex-column justify-content-center align-items-center mb-5"
>
  <form [formGroup]="form" (ngSubmit)="register()" class="w-100">
    <!-- dont forget name attribute for form -->
    <div class="form-group">
      <label>Email address</label>
      <input
        type="email"
        class="form-control bg-transparent border border-info text-white"
        formControlName="username"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          (form.get('username').touched || form.get('username').dirty) &&
          form.get('username').invalid
        "
      >
        <div *ngIf="form.get('username').errors.required">
          Email field is required
        </div>
        <div *ngIf="form.get('username').errors.email">
          Invalid Email address
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>First name</label>
      <input
        type="text"
        class="form-control bg-transparent border border-info text-white"
        formControlName="firstName"
        pattern="^[A-Z][a-z]+$"
      />
      <div
        class="alert alert-danger p-2 m-0"
        *ngIf="
          (form.get('firstName').touched || form.get('firstName').dirty) &&
          form.get('firstName').invalid
        "
      >
        <div *ngIf="form.get('firstName').errors?.required">
          This field is required
        </div>
        <div *ngIf="form.get('firstName').errors?.pattern">
          Names must contain only letters and start with a capital
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Last name</label>
      <input
        type="text"
        class="form-control bg-transparent border border-info text-white"
        formControlName="lastName"
        pattern="^[A-Z][a-z]+$"
      />
      <div
      class="alert alert-danger p-2 m-0"
      *ngIf="
        (form.get('lastName').touched || form.get('lastName').dirty) &&
        form.get('lastName').invalid
      "
    >
      <div *ngIf="form.get('lastName').errors?.required">
        This field is required
      </div>
      <div *ngIf="form.get('lastName').errors?.pattern">
        Names must contain only letters and start with a capital
      </div>
    </div>
    </div>
    <div class="form-group">
      <label (click)="log()">Password</label>
      <input
        type="password"
        class="form-control bg-transparent border border-info text-white"
        formControlName="password"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          (form.get('password').touched || form.get('password').dirty) &&
          form.get('password').invalid
        "
      >
        <div *ngIf="form.get('password').errors?.required">
          Password field is required
        </div>
        <div *ngIf="!form.get('password').errors?.minLength">
          Password must be min 3 characters
        </div>
        <div *ngIf="form.get('password').errors?.pattern">
          Password must contain at least one capital letter and one number
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Confirm password</label>
      <input
        type="password"
        class="form-control bg-transparent border border-info text-white"
        formControlName="confirmPassword"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          (form.get('confirmPassword').touched ||
            form.get('confirmPassword').dirty) &&
          (form.get('password').value !== form.get('confirmPassword').value ||
            form.get('confirmPassword').invalid)
        "
      >
        <div *ngIf="form.get('confirmPassword').errors?.required">
          Confirm password field is required!
        </div>
        <div>
          Passwords mismatch!
        </div>
      </div>
    </div>
    <button
      class="btn btn-primary btn-main mt-4"
      type="submit"
      [disabled]="!form.valid"
    >
      Sign Up
    </button>
  </form>

  <div class="or my-3">
    <hr class="bar" />
    <span> OR </span>
    <hr class="bar" />
  </div>
  <a [routerLink]="['/login']" class="btn-secondary-2">Login</a>
</div>


